* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Poppins;
}

:root {
	--accent: #438356;
	--accent-hover: #4f9463;
	--background: rgb(44, 45, 49);
	--background-alt: rgb(39, 40, 44);
	--background-dark: rgb(30, 31, 35);
	--hover: rgb(41, 42, 46);
	--hover-alt: rgb(34, 35, 39);
	--icon: rgb(230, 230, 230);
	--text: rgb(240, 240, 240);
	--text-alt: rgb(170, 170, 170);
	--text-alt2: rgb(210, 210, 210);
	--lightest: 0.075;
	--light: 0.1;
	--dark: 0.125;
	--darkest: 0.175;
	--radius: 30px;
	--radius-alt: 25px;
	--close-shadow: 0 2px 6px rgba(0, 0, 0, var(--lightest)), 0 8px 14px rgba(0, 0, 0, var(--light));
	--distant-shadow: 0 2px 6px rgba(0, 0, 0, var(--dark)), 0 12px 20px rgba(0, 0, 0, var(--darkest));
	--top-shadow: 0 -2px 6px rgba(0, 0, 0, var(--lightest)), 0 -8px 14px rgba(0, 0, 0, var(--light));
}

.box {
	color: var(--text-alt);
	border-radius: var(--radius);
	background-color: var(--background-alt);
	box-shadow: var(--close-shadow);
	transition: all 0.25s ease;
}

.material-icons-round {
	font-size: 20px;
	vertical-align: sub;
	color: var(--icon);
}

header {
	margin-bottom: 10px;
	padding: 0 60px;
	height: 90px;
	display: flex;
	align-items: center;
	color: var(--text-alt2);
	background-color: var(--background);
	box-shadow: var(--distant-shadow);
}

body {
	background-color: var(--background);
}

button {
	cursor: pointer;
	font-weight: 500;
	border-radius: var(--radius);
	box-shadow: var(--close-shadow);
	transition: all 0.25s ease;
}

.box:hover,
button:hover {
	background-color: var(--hover);
	box-shadow: var(--distant-shadow);
}

#add-book {
	margin: 20px 55px;
	padding: 10px 18px;
	font-size: 14px;
	color: var(--text);
	background-color: var(--accent);
}

#add-book:hover {
	background-color: var(--accent-hover)
}

#add-book .material-icons-round {
	font-size: 17px;
}

#library {
	margin: 0 45px;
	display: flex;
	flex-wrap: wrap;
}

.book {
	margin: 10px;
	padding: 20px 30px;
	width: 270px;
	text-align: center;
}

.book:hover #name {
	background-color: var(--hover-alt);
}

.book > div {
	padding: 5px 0;
	transition: all 0.25s ease;
}

.book #name {
	margin: -20px -30px 0;
	padding: 20px 30px 15px;
	font-size: 20px;
	font-weight: 600;
	color: var(--text);
	background-color: var(--background-dark);
	border-radius: var(--radius) var(--radius) 0 0;
}

.book #author {
	margin-top: 10px;
	font-size: 16px;
	color: var(--text-alt2);
}

.book #pages {
	font-size: 14px;
}

.book #actions {
	margin: 10px 0 -2.5px;
}

.book button {
	margin: 0 3px;
	height: 46px;
	width: 46px;
	background-color: var(--background-dark);
}

.book button:hover {
	background-color: var(--hover-alt);
}
