* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
	font-family: Poppins;
}

:root {
	--accent: #438356;
	--accent-hover: #4f9463;
	--background: rgb(44, 45, 49);
	--background-alt: rgb(39, 40, 44);
	--background-dark: rgb(30, 31, 35);
	--hover: rgb(41, 42, 46);
	--hover-alt: rgb(34, 35, 39);
	--icon: rgb(230, 230, 230);
	--text: rgb(240, 240, 240);
	--text-alt: rgb(170, 170, 170);
	--text-alt2: rgb(210, 210, 210);
	--lightest: 0.075;
	--light: 0.1;
	--dark: 0.125;
	--darkest: 0.175;
	--radius: 30px;
	--close-shadow: 0 2px 6px rgba(0, 0, 0, var(--lightest)), 0 8px 14px rgba(0, 0, 0, var(--light));
	--distant-shadow: 0 2px 6px rgba(0, 0, 0, var(--dark)), 0 12px 20px rgba(0, 0, 0, var(--darkest));
	--transition: opacity 0.25s, background-color 0.25s, box-shadow 0.25s, border 0.25s, transform 0.2s;
}

.box {
	color: var(--text-alt);
	border-radius: var(--radius);
	background-color: var(--background-alt);
	box-shadow: var(--close-shadow);
	transition: var(--transition);
}

.material-icons-round {
	font-size: 20px;
	vertical-align: sub;
	pointer-events: none;
	color: var(--icon);
}

.accent-button {
	background-color: var(--accent);
}

.accent-button:hover {
	background-color: var(--accent-hover);
	box-shadow: var(--distant-shadow);
}

.box-header {
	margin: -20px -30px 10px;
	padding: 20px 30px 15px !important;
	color: var(--text);
	background-color: var(--background-dark);
	border-radius: var(--radius) var(--radius) 0 0;
}

header {
	padding: 0 calc(10% + 5px);
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--text-alt2);
	background-color: var(--background);
	box-shadow: var(--distant-shadow);
}

body {
	background-color: var(--background);
}

main {
	margin: 25px 10%;
}

button,
#submit {
	cursor: pointer;
	font-weight: 500;
	color: var(--text);
	border-radius: var(--radius);
	box-shadow: var(--close-shadow);
	transition: var(--transition);
}

.box:hover,
button:hover {
	background-color: var(--hover);
	box-shadow: var(--distant-shadow);
}

button:active,
#submit:active {
	transform: scale(0.85);
}

#stats {
	padding-top: 10px;
}

#stats div {
	margin: 5px;
	padding: 10px 20px;
	display: inline-block;
	font-weight: 500;
	background-color: var(--background-dark);
	color: var(--text-alt2);
}

#stats span {
	font-weight: 400;
	color: var(--text-alt);
}

#buttons {
	margin: 10px 0;
}

#add-book,
#clear-data {
	margin: 10px 5px;
	padding: 10px 18px;
	font-size: 14px;
}

#add-book .material-icons-round,
#clear-data .material-icons-round {
	font-size: 17px;
	color: var(--text);
}

#clear-data {
	background-color: #b82941;
}

#clear-data:hover {
	background-color: #e62746;
}

#sort-settings {
	margin: 10px 0;
}

#sort-by,
#direction {
	margin: 0 5px;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	font-weight: 500;
	color: var(--text);
	transition: var(--transition);
}

#direction {
	margin-left: -5px;
}

#sort-by .material-icons-round,
#direction .material-icons-round {
	margin-right: 5px;
	font-size: 18px;
}

#direction.descending {
	transform: rotate(180deg) translateX(5px);
}

#no-books {
	margin: 60px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	color: var(--text-alt);
}

#no-books > * {
	margin: 15px 0;
}

#library {
	margin: 0 -5px;
	display: flex;
	flex-wrap: wrap;
}

.book {
	margin: 10px;
	padding: 20px 30px;
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

#clear-data.hidden {
	pointer-events: none;
	opacity: 0;
	transform: scale(0.8);
}

.book:hover .name {
	background-color: var(--hover-alt);
}

.book > div {
	padding: 5px 0;
	transition: var(--transition);
}

.book .name {
	font-size: 20px;
	font-weight: 600;
}

.book .author {
	font-size: 16px;
	color: var(--text-alt2);
}

.book .pages {
	font-size: 14px;
}

.book .actions {
	margin: 10px 0 -2.5px;
}

.book button {
	margin: 0 3px;
	height: 46px;
	width: 46px;
	background-color: var(--background-dark);
}

.book button:hover {
	background-color: var(--hover-alt);
}

#form-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.25);
	transition: var(--transition);
}

#form-container.hidden {
	pointer-events: none;
	opacity: 0;
}

#form-container.hidden #book-form {
	transform: scale(0.8);
}

#book-form {
	margin: 25px;
	padding: 20px 30px;
	width: 400px;
	display: flex;
	flex-direction: column;
	color: var(--text);
	border-radius: var(--radius);
	background-color: var(--background-alt);
	box-shadow: var(--distant-shadow);
	transition: var(--transition);
}

#book-form > div {
	padding: 12px 0;
}

#book-form #title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

#book-form .form-group {
	display: flex;
	flex-direction: column;
}

#book-form .form-group input {
	margin-top: 6px;
	padding: 6px 10px;
	width: 100%;
	font-size: 14px;
	color: var(--text-alt2);
	background-color: var(--background);
	border-radius: 3px;
	border-bottom: 2px solid var(--text-alt2);
	transition: var(--transition);
}

#book-form #form-read {
	accent-color: var(--accent);
}

#book-form label {
	margin-right: 6px;
}

#book-form input[type="number"] {
	width: 90px;
}

#book-form input:focus {
	border-color: var(--accent-hover);
}

#book-form #submit {
	margin: 10px 0 5px;
	padding: 8px 18px;
	align-self: center;
	font-size: 14px;
}

#github {
	display: inline-block;
	margin-left: 20px;
	padding: 10px 20px;
	align-self: center;
	text-decoration: none;
	white-space: nowrap;
	color: var(--text);
	background-color: var(--background-dark);
	transition: transform 0.2s ease;
}

#github img {
	height: 25px;
	margin-left: 10px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	filter: invert(.95);
}

#github:hover {
	transform: scale(1.1);
}

@media screen and (max-width:650px){
	main {
		text-align: center;
	}
	#library {
		justify-content: center;
	}
}
